# 02 Data Wrangling Introduction

## 2.1 Contents

    2.2 Introduction
    2.3 Imports
    2.4 Objectives
    2.5 Load the NBA Data
    2.6 Clean the Data
    2.7 Merging Data Sets
    2.8 Saving the Data

## 2.2 Introduction To The Notebook

The goal of this notebook is to organize the different data sets that were scraped off different open-source websites. I also need to make sure the data is well-defined to do effective analysis down the road with minimal mistakes. The full EDA and cleaning will be in Notebook 03, however some will be done at this stage to organize it a little for that process.

## 2.3 Imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## 2.4 Objectives

The goal is to answer the following questions:

What kind of cleaning steps did you perform?
How did you deal with missing values, if there were any?
Do you think you may have the data you need to tackle the desired question?
Have you identified the required target value?
Do you have potentially useful features?
Do you have any fundamental issues with the data?

Ultimately, we want a dataset that is clean and ready for EDA in notebook 3.

## 2.5 Load the NBA Data

In [3]:
stats = pd.read_csv('NBA_Stats1980.csv')

In [4]:
stats.head()

,Unnamed: 0,Player,Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Alaa Abdelnaby,1991.0,6-10,240.0,Duke,PF,22,POR,Portland Trail Blazers,...,0.0,0.0,0.0,63,19,0.768,0.0,114.7,106.0,8.47
1,1,Danny Ainge,1991.0,6-4,175.0,BYU,SG,31,POR,Portland Trail Blazers,...,0.0,0.0,0.0,63,19,0.768,0.0,114.7,106.0,8.47
2,2,Mark Bryant,1991.0,6-9,245.0,Seton Hall,PF,25,POR,Portland Trail Blazers,...,0.0,0.0,0.0,63,19,0.768,0.0,114.7,106.0,8.47
3,3,Wayne Cooper,1991.0,6-10,220.0,New Orleans,C,34,POR,Portland Trail Blazers,...,0.0,0.0,0.0,63,19,0.768,0.0,114.7,106.0,8.47
4,4,Walter Davis,1991.0,6-6,193.0,UNC,SG,36,POR,Portland Trail Blazers,...,0.0,0.0,0.0,63,19,0.768,0.0,114.7,106.0,8.47

In [5]:
salaries1 = pd.read_csv('salaries.csv')
salaries2 = pd.read_csv('Salary_Cap_By_Year.csv')

In [6]:
salaries1.head()

         playerName  seasonStartYear       salary inflationAdjSalary
0    Michael Jordan             1996  $30,140,000        $52,258,566
1      Horace Grant             1996  $14,857,000        $25,759,971
2     Reggie Miller             1996  $11,250,000        $19,505,934
3  Shaquille O'Neal             1996  $10,714,000        $18,576,585
4       Gary Payton             1996  $10,212,000        $17,706,187

In [7]:
salaries2.head()

   Year     Salary Cap
0  1984  $3,600,000.00
1  1985  $4,233,000.00
2  1986  $4,945,000.00
3  1987  $6,164,000.00
4  1988  $7,232,000.00

## 2.6 Clean the Data

In [8]:
stats = stats.drop(columns = 'Unnamed: 0')

In [9]:
stats['Year'].isna().sum()

0

In [10]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17976 entries, 0 to 17975
Data columns (total 44 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    17976 non-null  object
 1   Year      17976 non-null  float64
 2   Ht        17976 non-null  object
 3   Wt        17976 non-null  float64
 4   Colleges  17976 non-null  object
 5   Pos       17976 non-null  object
 6   Age       17976 non-null  int64
 7   Tm        17976 non-null  object
 8   Team      17976 non-null  object
 9   G         17976 non-null  int64
 10  GS        17976 non-null  int64
 11  MP        17976 non-null  float64
 12  FG        17976 non-null  float64
 13  FGA       17976 non-null  float64
 14  FG%       17976 non-null  float64
 15  3P        17976 non-null  float64
 16  3PA       17976 non-null  float64
 17  3P%       17976 non-null  float64
 18  2P        17976 non-null  float64
 19  2PA       17976 non-null  float64
 20  2P%       17976 non-null  float64
 21  eFG%      17976 non-null  float64
 22  FT        17976 non-null  float64
 23  FTA       17976 non-null  float64
 24  FT%       17976 non-null  float64
 25  ORB       17976 non-null  float64
 26  DRB       17976 non-null  float64
 27  TRB       17976 non-null  float64
 28  AST       17976 non-null  float64
 29  STL       17976 non-null  float64
 30  BLK       17976 non-null  float64
 31  TOV       17976 non-null  float64
 32  PF        17976 non-null  float64
 33  PTS       17976 non-null  float64
 34  Pts Won   17976 non-null  float64
 35  Pts Max   17976 non-null  float64
 36  Share     17976 non-null  float64
 37  W         17976 non-null  int64
 38  L         17976 non-null  int64
 39  W/L%      17976 non-null  float64
 40  GB        17976 non-null  float64
 41  PS/G      17976 non-null  float64
 42  PA/G      17976 non-null  float64
 43  SRS       17976 non-null  float64
dtypes: float64(33), int64(5), object(6)
memory usage: 6.0+ MB

In [11]:
stats['Year'] = stats['Year'].astype('int64')
stats['Year'].head()

0    1991
1    1991
2    1991
3    1991
4    1991
Name: Year, dtype: int64

In [12]:
stats = stats[stats['Year']>1995]

In [13]:
stats.columns

Index(['Player', 'Year', 'Ht', 'Wt', 'Colleges', 'Pos', 'Age', 'Tm', 'Team',
       'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'Pts Won', 'Pts Max', 'Share', 'W', 'L',
       'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS'],
      dtype='object')

Here are the meanings of the column names:

 - 'Year' - year played
 - 'Ht' - Height
 - 'Wt' - Weight
 - 'Colleges' - Which school they went to
 - â€˜Posâ€™ â€” position
 - 'Age' - Age of that year
 - â€˜Tmâ€™ â€” team (abbr.)
 - â€˜Gâ€™ â€” games played
 - 'GS' - games started
 - â€˜MPâ€™ â€” minutes played
 - â€˜FGâ€™ â€” field goals made
 - â€˜FGAâ€™ â€” field goals attempted
 - â€˜FG%â€™ â€” field goal percentage
 - â€˜3Pâ€™ â€” 3-pointers made
 - â€˜3PAâ€™ â€” 3-pointers attempted
 - â€˜3P%â€™ â€” 3-point percentage
 - â€˜2Pâ€™ â€” 2-pointers made
 - â€˜2PAâ€™ â€” 2-pointers attempted
 - â€˜2P%â€™ â€” 2-point percentageâ€™
 - â€˜eFG%â€™ â€” effective field goal percentage
 - â€˜FTâ€™ â€” free throws made
 - â€˜FTAâ€™ â€” free throws attempted
 - â€˜FT%â€™ â€” free throw percentage
 - â€˜ORBâ€™ â€” offensive rebounds
 - â€˜DRBâ€™ â€” defensive rebounds
 - â€˜TRBâ€™ â€” total rebounds
 - â€˜ASTâ€™ â€” assists
 - â€˜STLâ€™ â€” steals
 - â€˜BLKâ€™ â€” blocks
 - â€˜TOVâ€™ â€” turnovers
 - â€˜PFâ€™ â€” personal fouls
 - â€˜PTSâ€™ â€” points
 - 'Pts Won' - 
 - 'Pts Max' -
 - 'Share' - statistic divvying up team success for individual
 - 'Team' - team full name
 - 'W' - wins
 - 'L' - losses
 - 'W/L%' - Win to loss percentage
 - 'GB' - games behind/back
 - 'PS/G' - 
 - 'PA/G' - 
 - 'SRS' - Simple Rating System

In [14]:
salaries1 = salaries1.drop(columns = 'inflationAdjSalary')

In [15]:
salaries1 = salaries1.rename(columns = {'playerName': 'Player', 'seasonStartYear': 'Year', 'salary': 'Salary'})

In [16]:
salaries1.head()

             Player  Year       Salary
0    Michael Jordan  1996  $30,140,000
1      Horace Grant  1996  $14,857,000
2     Reggie Miller  1996  $11,250,000
3  Shaquille O'Neal  1996  $10,714,000
4       Gary Payton  1996  $10,212,000

## 2.7 Merging Data Sets

In [17]:
players1 = pd.merge(stats, salaries1, how = 'left', on = ['Player', 'Year'])

In [18]:
players1.head()

,Player,Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,G,...,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS,Salary
0,Mahmoud Abdul-Rauf,1996,6-1,162.0,LSU,PG,26,DEN,Denver Nuggets,57,...,0.0,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,"$3,100,000"
1,Rastko CvetkoviÄ‡,1996,7-1,260.0,Not American,C,25,DEN,Denver Nuggets,14,...,0.0,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,NaN
2,Dale Ellis,1996,6-7,205.0,Tennessee,SF,35,DEN,Denver Nuggets,81,...,0.0,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,"$1,600,000"
3,LaPhonso Ellis,1996,6-8,240.0,Notre Dame,SF,25,DEN,Denver Nuggets,45,...,0.0,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,"$3,294,000"
4,Matt Fish,1996,6-11,235.0,UNC Wilmington,C,26,DEN,Denver Nuggets,18,...,0.0,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,"$247,500"

In [19]:
players2 = pd.merge(players1, salaries2, how = 'left', on = 'Year')

In [20]:
players2['Salary'].isnull().sum()
players2[players2['Salary'].isnull() == True]

,Player,Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,G,...,Share,W,L,W/L%,GB,PS/G,PA/G,SRS,Salary,Salary Cap
1,Rastko CvetkoviÄ‡,1996,7-1,260.0,Not American,C,25,DEN,Denver Nuggets,14,...,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,NaN,"$24,363,000.00"
5,Greg Grant,1996,5-7,140.0,Trenton State University,PG,29,DEN,Denver Nuggets,31,...,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,NaN,"$24,363,000.00"
15,Randy Woods,1996,5-10,185.0,La Salle,PG,25,DEN,Denver Nuggets,8,...,0.0,35,47,0.427,24.0,97.7,100.4,-2.62,NaN,"$24,363,000.00"
21,Jeff Grayer,1997,6-5,200.0,Iowa State,SG,31,SAC,Sacramento Kings,25,...,0.0,34,48,0.415,23.0,96.4,99.8,-3.64,NaN,"$26,900,000.00"
31,Mahmoud Abdul-Rauf,1998,6-1,162.0,LSU,PG,28,SAC,Sacramento Kings,31,...,0.0,27,55,0.329,34.0,93.1,98.7,-5.83,NaN,"$30,000,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12258,Dahntay Jones,2013,6-6,225.0,"Rutgers University, Duke",SF,32,ATL,Atlanta Hawks,78,...,0.0,44,38,0.537,22.0,98.0,97.5,-0.08,NaN,"$58,679,000.00"
12262,Johan Petro,2013,7-0,247.0,Not American,C,27,ATL,Atlanta Hawks,31,...,0.0,44,38,0.537,22.0,98.0,97.5,-0.08,NaN,"$58,679,000.00"
12265,DeShawn Stevenson,2013,6-5,210.0,Not American,SG,31,ATL,Atlanta Hawks,56,...,0.0,44,38,0.537,22.0,98.0,97.5,-0.08,NaN,"$58,679,000.00"
12267,Anthony Tolliver,2013,6-8,240.0,Creighton,SF,27,ATL,Atlanta Hawks,62,...,0.0,44,38,0.537,22.0,98.0,97.5,-0.08,NaN,"$58,679,000.00"
12269,Lou Williams,2013,6-1,175.0,Not American,SG,26,ATL,Atlanta Hawks,39,...,0.0,44,38,0.537,22.0,98.0,97.5,-0.08,NaN,"$58,679,000.00"

In [21]:
players2 = players2.dropna(subset = ['Salary'])

In [22]:
players2['Salary'].isnull().sum()

0

$ sign data points are invalid to operate on, so we need to change them from objects to integers or floats.

In [23]:
players2['Salary'] = players2['Salary'].replace("[$,]", "", regex=True).astype(int)
players2['Salary Cap'] = players2['Salary Cap'].replace("[$,]", "", regex=True).astype(float)

It worked out. So now we can create our target columns to do the EDA on.

In [24]:
players2['League Weight'] = players2['Salary'] / players2['Salary Cap']

In [25]:
players2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8575 entries, 0 to 12268
Data columns (total 47 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player         8575 non-null   object
 1   Year           8575 non-null   int64
 2   Ht             8575 non-null   object
 3   Wt             8575 non-null   float64
 4   Colleges       8575 non-null   object
 5   Pos            8575 non-null   object
 6   Age            8575 non-null   int64
 7   Tm             8575 non-null   object
 8   Team           8575 non-null   object
 9   G              8575 non-null   int64
 10  GS             8575 non-null   int64
 11  MP             8575 non-null   float64
 12  FG             8575 non-null   float64
 13  FGA            8575 non-null   float64
 14  FG%            8575 non-null   float64
 15  3P             8575 non-null   float64
 16  3PA            8575 non-null   float64
 17  3P%            8575 non-null   float64
 18  2P             8575 non-null   float64
 19  2PA            8575 non-null   float64
 20  2P%            8575 non-null   float64
 21  eFG%           8575 non-null   float64
 22  FT             8575 non-null   float64
 23  FTA            8575 non-null   float64
 24  FT%            8575 non-null   float64
 25  ORB            8575 non-null   float64
 26  DRB            8575 non-null   float64
 27  TRB            8575 non-null   float64
 28  AST            8575 non-null   float64
 29  STL            8575 non-null   float64
 30  BLK            8575 non-null   float64
 31  TOV            8575 non-null   float64
 32  PF             8575 non-null   float64
 33  PTS            8575 non-null   float64
 34  Pts Won        8575 non-null   float64
 35  Pts Max        8575 non-null   float64
 36  Share          8575 non-null   float64
 37  W              8575 non-null   int64
 38  L              8575 non-null   int64
 39  W/L%           8575 non-null   float64
 40  GB             8575 non-null   float64
 41  PS/G           8575 non-null   float64
 42  PA/G           8575 non-null   float64
 43  SRS            8575 non-null   float64
 44  Salary         8575 non-null   int64
 45  Salary Cap     8575 non-null   float64
 46  League Weight  8575 non-null   float64
dtypes: float64(34), int64(7), object(6)
memory usage: 3.1+ MB

In [26]:
players2

,Player,Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,G,...,W,L,W/L%,GB,PS/G,PA/G,SRS,Salary,Salary Cap,League Weight
0,Mahmoud Abdul-Rauf,1996,6-1,162.0,LSU,PG,26,DEN,Denver Nuggets,57,...,35,47,0.427,24.0,97.7,100.4,-2.62,3100000,24363000.0,0.127242
2,Dale Ellis,1996,6-7,205.0,Tennessee,SF,35,DEN,Denver Nuggets,81,...,35,47,0.427,24.0,97.7,100.4,-2.62,1600000,24363000.0,0.065673
3,LaPhonso Ellis,1996,6-8,240.0,Notre Dame,SF,25,DEN,Denver Nuggets,45,...,35,47,0.427,24.0,97.7,100.4,-2.62,3294000,24363000.0,0.135205
4,Matt Fish,1996,6-11,235.0,UNC Wilmington,C,26,DEN,Denver Nuggets,18,...,35,47,0.427,24.0,97.7,100.4,-2.62,247500,24363000.0,0.010159
6,Tom Hammonds,1996,6-9,215.0,Georgia Tech,PF,28,DEN,Denver Nuggets,71,...,35,47,0.427,24.0,97.7,100.4,-2.62,1070000,24363000.0,0.043919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12261,Zaza Pachulia,2013,6-11,270.0,Not American,C,28,ATL,Atlanta Hawks,52,...,44,38,0.537,22.0,98.0,97.5,-0.08,5200000,58679000.0,0.088618
12263,Mike Scott,2013,6-7,237.0,Virginia,PF,24,ATL,Atlanta Hawks,40,...,44,38,0.537,22.0,98.0,97.5,-0.08,788872,58679000.0,0.013444
12264,Josh Smith,2013,6-9,225.0,Not American,PF,27,ATL,Atlanta Hawks,76,...,44,38,0.537,22.0,98.0,97.5,-0.08,14000000,58679000.0,0.238586
12266,Jeff Teague,2013,6-3,195.0,Wake Forest,PG,24,ATL,Atlanta Hawks,80,...,44,38,0.537,22.0,98.0,97.5,-0.08,8000000,58679000.0,0.136335
12268,Jeremy Tyler,2013,6-10,260.0,Not American,C,21,ATL,Atlanta Hawks,21,...,44,38,0.537,22.0,98.0,97.5,-0.08,556584,58679000.0,0.009485

In [27]:
players2[players2['Player'] == "Jeff Teague"].sort_values("Year")

,Player,Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,G,...,W,L,W/L%,GB,PS/G,PA/G,SRS,Salary,Salary Cap,League Weight
9241,Jeff Teague,2010,6-3,195.0,Wake Forest,PG,21,ATL,Atlanta Hawks,71,...,53,29,0.646,6.0,101.7,97.0,4.44,1476840,58044000.0,0.025443
5734,Jeff Teague,2011,6-3,195.0,Wake Forest,PG,22,ATL,Atlanta Hawks,70,...,44,38,0.537,14.0,95.0,95.8,-1.10,1579920,58044000.0,0.027219
11891,Jeff Teague,2012,6-3,195.0,Wake Forest,PG,23,ATL,Atlanta Hawks,66,...,40,26,0.606,6.0,96.6,93.2,2.67,2433076,58044000.0,0.041918
12266,Jeff Teague,2013,6-3,195.0,Wake Forest,PG,24,ATL,Atlanta Hawks,80,...,44,38,0.537,22.0,98.0,97.5,-0.08,8000000,58679000.0,0.136335
5015,Jeff Teague,2014,6-3,195.0,Wake Forest,PG,25,ATL,Atlanta Hawks,79,...,38,44,0.463,16.0,101.0,101.5,-0.88,8000000,63065000.0,0.126853
5031,Jeff Teague,2015,6-3,195.0,Wake Forest,PG,26,ATL,Atlanta Hawks,73,...,60,22,0.732,0.0,102.5,97.1,4.75,8000000,70000000.0,0.114286
8278,Jeff Teague,2016,6-3,195.0,Wake Forest,PG,27,ATL,Atlanta Hawks,79,...,48,34,0.585,0.0,102.8,99.2,3.49,8000000,94143000.0,0.084977
2266,Jeff Teague,2017,6-3,195.0,Wake Forest,PG,28,IND,Indiana Pacers,82,...,42,40,0.512,9.0,105.1,105.3,-0.64,19000000,99093000.0,0.191739
1498,Jeff Teague,2018,6-3,195.0,Wake Forest,PG,29,MIN,Minnesota Timberwolves,70,...,47,35,0.573,2.0,109.5,107.3,2.35,19000000,101869000.0,0.186514
8022,Jeff Teague,2019,6-3,195.0,Wake Forest,PG,30,MIN,Minnesota Timberwolves,42,...,36,46,0.439,18.0,112.5,114.0,-1.02,19000000,109140000.0,0.174088

So now that we have all the data for each player for each year, the goal is to now create a column that reflects which contract year it is for that specific row. Thanks to the help from my mentor, we were able to come up with a for loop that showed what we wanted.

In [28]:
l = []
for player in set(players2.Player.values):

    years = sorted(players2[players2["Player"]==player].Year.values)
    contract_nums = []
    contract_salaries = []
    contract_years = []
    for year in years:

        salary = players2[(players2['Player']== player) & (players2['Year'] == year)]['Salary'].values[0]
        if year != min(years):
            last_salary = players2[(players2['Player']== player) & (players2['Year'] == max(contract_years))]['Salary'].values[0]
        contract_years.append(year)
        #print(year, salary, last_salary)
        d = {"Player": player, "Year": year}
        d["Salary"] = salary
        contract_salaries.append(salary)
        if year == min(years):
            d["Contract"] = 1
            contract_num = 1
            
        elif (last_salary <= salary) and (salary <= 1.05*last_salary):
            d['Contract'] = max(contract_nums)
            contract_num = max(contract_nums)

        else:
            d['Contract'] = max(contract_nums) + 1
            contract_num = max(contract_nums) + 1
        contract_nums.append(contract_num)
        l.append(d)
new_df = players2.merge(right = pd.DataFrame(l), on = ['Player', 'Year', 'Salary']).sort_values(["Player", "Year"])
new_df

,Player,Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,G,...,L,W/L%,GB,PS/G,PA/G,SRS,Salary,Salary Cap,League Weight,Contract
5321,A.C. Green,1996,6-9,220.0,Oregon State,SF,32,PHO,Phoenix Suns,82,...,41,0.500,23.0,104.3,104.0,0.28,4851000,24363000.0,0.199113,1
7412,A.C. Green,1997,6-9,220.0,Oregon State,PF,33,DAL,Dallas Mavericks,83,...,58,0.293,40.0,90.6,97.0,-6.47,5095088,26900000.0,0.189408,2
3268,A.C. Green,1998,6-9,220.0,Oregon State,PF,34,DAL,Dallas Mavericks,82,...,62,0.244,42.0,91.4,97.5,-6.33,5125088,30000000.0,0.170836,2
3281,A.C. Green,1999,6-9,220.0,Oregon State,PF,35,DAL,Dallas Mavericks,50,...,31,0.380,18.0,91.6,94.0,-2.50,1700000,34000000.0,0.050000,3
7960,A.C. Green,2000,6-9,220.0,Oregon State,PF,36,LAL,Los Angeles Lakers,82,...,15,0.817,0.0,100.8,92.3,8.41,2250000,35500000.0,0.063380,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231,Zydrunas Ilgauskas,2006,7-3,238.0,Not American,C,30,CLE,Cleveland Cavaliers,78,...,32,0.610,14.0,97.6,95.4,2.17,9442697,53135000.0,0.177711,8
7827,Zydrunas Ilgauskas,2007,7-3,238.0,Not American,C,31,CLE,Cleveland Cavaliers,78,...,32,0.610,3.0,96.8,92.9,3.33,10142156,55630000.0,0.182315,9
2054,Zydrunas Ilgauskas,2008,7-3,238.0,Not American,C,32,CLE,Cleveland Cavaliers,73,...,37,0.549,14.0,96.4,96.7,-0.53,10841615,58680000.0,0.184758,10
8814,Zydrunas Ilgauskas,2009,7-3,238.0,Not American,C,33,CLE,Cleveland Cavaliers,65,...,16,0.805,0.0,100.3,91.4,8.68,11541074,57700000.0,0.200019,11
8823,Zydrunas Ilgauskas,2010,7-3,238.0,Not American,C,34,CLE,Cleveland Cavaliers,64,...,21,0.744,0.0,102.1,95.6,6.17,1352181,58044000.0,0.023296,12

There is such great information throughout this dataframe, but a lot of it is not needed for the end goal of determining a contract based on a previous year. I want to isolate the first year and keep the salary year for the following year, resulting in one row per player.

In [29]:
new_df.drop(new_df[new_df['Contract'] > 3].index, inplace = True)

In [30]:
new_df['rank'] = new_df.groupby(['Player', 'Contract']).cumcount()+1
new_df

,Player,Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,G,...,W/L%,GB,PS/G,PA/G,SRS,Salary,Salary Cap,League Weight,Contract,rank
5321,A.C. Green,1996,6-9,220.0,Oregon State,SF,32,PHO,Phoenix Suns,82,...,0.500,23.0,104.3,104.0,0.28,4851000,24363000.0,0.199113,1,1
7412,A.C. Green,1997,6-9,220.0,Oregon State,PF,33,DAL,Dallas Mavericks,83,...,0.293,40.0,90.6,97.0,-6.47,5095088,26900000.0,0.189408,2,1
3268,A.C. Green,1998,6-9,220.0,Oregon State,PF,34,DAL,Dallas Mavericks,82,...,0.244,42.0,91.4,97.5,-6.33,5125088,30000000.0,0.170836,2,2
3281,A.C. Green,1999,6-9,220.0,Oregon State,PF,35,DAL,Dallas Mavericks,50,...,0.380,18.0,91.6,94.0,-2.50,1700000,34000000.0,0.050000,3,1
2171,Aaron Brooks,2008,6-0,161.0,Oregon,PG,23,HOU,Houston Rockets,51,...,0.671,1.0,96.7,92.0,4.83,1045560,58680000.0,0.017818,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7068,Zhaire Smith,2019,6-3,205.0,Texas Tech,SG,19,PHI,Philadelphia 76ers,6,...,0.622,7.0,115.2,112.5,2.25,3058800,109140000.0,0.028026,1,1
3088,Zhou Qi,2018,7-1,210.0,Not American,C,22,HOU,Houston Rockets,18,...,0.793,0.0,112.4,103.9,8.21,1378242,101869000.0,0.013530,1,1
2645,Zydrunas Ilgauskas,1998,7-3,238.0,Not American,C,22,CLE,Cleveland Cavaliers,82,...,0.573,15.0,92.5,89.8,3.06,936000,30000000.0,0.031200,1,1
2661,Zydrunas Ilgauskas,1999,7-3,238.0,Not American,C,23,CLE,Cleveland Cavaliers,5,...,0.440,11.0,86.4,88.2,-0.94,9000000,34000000.0,0.264706,2,1
7049,Zydrunas Ilgauskas,2001,7-3,238.0,Not American,C,25,CLE,Cleveland Cavaliers,24,...,0.366,22.0,92.2,96.5,-4.48,11250000,42500000.0,0.264706,3,1

In [31]:
max_c1_df = new_df[new_df['Contract'] == 1].groupby(['Player','Contract'])['rank'].max().reset_index()
c1_df = new_df.merge(max_c1_df, on = ["Player", "Contract", "rank"], how= "inner").rename(columns = {"Year": "Stats_Year"})

In [32]:
c2_df = new_df[(new_df['Contract'] == 2) & (new_df['rank'] == 1)].rename(columns = {"Year": "Contract_Year", "Team": "Contract_Team"})
c2_df

,Player,Contract_Year,Ht,Wt,Colleges,Pos,Age,Tm,Contract_Team,G,...,W/L%,GB,PS/G,PA/G,SRS,Salary,Salary Cap,League Weight,Contract,rank
7412,A.C. Green,1997,6-9,220.0,Oregon State,PF,33,DAL,Dallas Mavericks,83,...,0.293,40.0,90.6,97.0,-6.47,5095088,26900000.0,0.189408,2,1
5681,Aaron Brooks,2009,6-0,161.0,Oregon,PG,24,HOU,Houston Rockets,80,...,0.646,1.0,98.4,94.4,3.73,1118520,57700000.0,0.019385,2,1
4549,Aaron Gordon,2017,6-8,235.0,Arizona,SF,21,ORL,Orlando Magic,80,...,0.354,20.0,101.1,107.6,-6.61,5504419,99093000.0,0.055548,2,1
8724,Aaron Gray,2009,7-0,270.0,Pitt,C,24,CHI,Chicago Bulls,56,...,0.500,25.0,102.2,102.5,-0.16,1000497,57700000.0,0.017340,2,1
5877,Aaron Harrison,2017,6-6,210.0,Kentucky,SG,22,CHO,Charlotte Hornets,5,...,0.439,13.0,104.9,104.7,-0.07,174570,99093000.0,0.001762,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,Zach LaVine,2017,6-5,200.0,UCLA,SG,21,MIN,Minnesota Timberwolves,47,...,0.378,20.0,105.6,106.7,-0.64,3202217,99093000.0,0.032315,2,1
2713,Zach Randolph,2003,6-9,250.0,Michigan State,PF,21,POR,Portland Trail Blazers,77,...,0.610,9.0,95.2,92.5,2.97,1172160,43840000.0,0.026737,2,1
7148,Zaza Pachulia,2005,6-11,270.0,Not American,C,20,MIL,Milwaukee Bucks,74,...,0.366,24.0,97.2,100.2,-3.09,4000000,49500000.0,0.080808,2,1
8044,Zendon Hamilton,2004,6-11,250.0,St. John's,C,28,PHI,Philadelphia 76ers,46,...,0.402,14.0,88.0,90.5,-2.95,807546,43870000.0,0.018408,2,1
2661,Zydrunas Ilgauskas,1999,7-3,238.0,Not American,C,23,CLE,Cleveland Cavaliers,5,...,0.440,11.0,86.4,88.2,-0.94,9000000,34000000.0,0.264706,2,1

In [43]:
new_df = pd.merge(left=c1_df.drop(['Salary', 'Salary Cap', 'League Weight'], axis=1),right=c2_df[['Player','Contract_Year', 'Contract_Team', 'Salary', 'Salary Cap', 'League Weight']], how="left", on = ['Player'])

Now this looks great, but as we can see, there are a few NaN values, resulting in players only playing one year in the NBA. Since this doesn't give us any substantial information, we want to just drop it. Unfortunately as seen below, there are 343 players with only one contract, but in the grand scheme of things, it is okay to drop those players from the data frame to effectively run EDA.

In [44]:
new_df.groupby(['Player'])['Contract'].max()[new_df.groupby(['Player'])['Contract'].max() == 1].reset_index()['Player']

0               A.C. Green
1             Aaron Brooks
2             Aaron Gordon
3               Aaron Gray
4           Aaron Harrison
               ...
1574         Zaza Pachulia
1575       Zendon Hamilton
1576          Zhaire Smith
1577               Zhou Qi
1578    Zydrunas Ilgauskas
Name: Player, Length: 1579, dtype: object

In [47]:
new_df = new_df.dropna().reset_index(drop=True)

In [49]:
new_df.isnull().sum()

Player           0
Stats_Year       0
Ht               0
Wt               0
Colleges         0
Pos              0
Age              0
Tm               0
Team             0
G                0
GS               0
MP               0
FG               0
FGA              0
FG%              0
3P               0
3PA              0
3P%              0
2P               0
2PA              0
2P%              0
eFG%             0
FT               0
FTA              0
FT%              0
ORB              0
DRB              0
TRB              0
AST              0
STL              0
BLK              0
TOV              0
PF               0
PTS              0
Pts Won          0
Pts Max          0
Share            0
W                0
L                0
W/L%             0
GB               0
PS/G             0
PA/G             0
SRS              0
Contract         0
rank             0
Contract_Year    0
Contract_Team    0
Salary           0
Salary Cap       0
League Weight    0
dtype: int64

In [52]:
new_df

,Player,Stats_Year,Ht,Wt,Colleges,Pos,Age,Tm,Team,G,...,PS/G,PA/G,SRS,Contract,rank,Contract_Year,Contract_Team,Salary,Salary Cap,League Weight
0,A.C. Green,1996,6-9,220.0,Oregon State,SF,32,PHO,Phoenix Suns,82,...,104.3,104.0,0.28,1,1,1997.0,Dallas Mavericks,5095088.0,26900000.0,0.189408
1,Aaron Brooks,2008,6-0,161.0,Oregon,PG,23,HOU,Houston Rockets,51,...,96.7,92.0,4.83,1,1,2009.0,Houston Rockets,1118520.0,57700000.0,0.019385
2,Aaron Gordon,2016,6-8,235.0,Arizona,PF,20,ORL,Orlando Magic,78,...,102.1,103.7,-1.68,1,2,2017.0,Orlando Magic,5504419.0,99093000.0,0.055548
3,Aaron Gray,2008,7-0,270.0,Pitt,C,23,CHI,Chicago Bulls,61,...,97.3,100.4,-3.19,1,1,2009.0,Chicago Bulls,1000497.0,57700000.0,0.017340
4,Aaron Harrison,2016,6-6,210.0,Kentucky,SG,21,CHO,Charlotte Hornets,21,...,103.4,100.7,2.36,1,1,2017.0,Charlotte Hornets,174570.0,99093000.0,0.001762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1231,Zach LaVine,2016,6-5,200.0,UCLA,SG,20,MIN,Minnesota Timberwolves,82,...,102.4,106.0,-3.38,1,2,2017.0,Minnesota Timberwolves,3202217.0,99093000.0,0.032315
1232,Zach Randolph,2002,6-9,250.0,Michigan State,PF,20,POR,Portland Trail Blazers,41,...,96.6,93.7,3.21,1,1,2003.0,Portland Trail Blazers,1172160.0,43840000.0,0.026737
1233,Zaza Pachulia,2004,6-11,270.0,Not American,C,19,ORL,Orlando Magic,59,...,94.0,101.1,-7.25,1,1,2005.0,Milwaukee Bucks,4000000.0,49500000.0,0.080808
1234,Zendon Hamilton,2003,6-11,250.0,St. John's,C,27,TOR,Toronto Raptors,3,...,90.9,96.8,-6.10,1,2,2004.0,Philadelphia 76ers,807546.0,43870000.0,0.018408
1235,Zydrunas Ilgauskas,1998,7-3,238.0,Not American,C,22,CLE,Cleveland Cavaliers,82,...,92.5,89.8,3.06,1,1,1999.0,Cleveland Cavaliers,9000000.0,34000000.0,0.264706

With that all sorted out, we are finally ready to move on. Time to save it to a new csv, and start EDA!

### 2.8 Saving the Data

In [53]:
new_df.to_csv('players_cleaned_final.csv')

Ready for EDA!